name: Rust

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1.15.1
      with:
        components: rustfmt

    - name: Check formatting
      run: cargo fmt --check

    - name: Build
      run: cargo build --all-targets --verbose

    - name: Run tests
      run: cargo test --all-targets --verbose
